<div class="container-xxl py-5" style="margin-top: -35px;">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-3  fadeIn" data-wow-delay="0.1s" style="margin-top:-15px">
                <div class="manager-center cont-sidebar " style="width:270px">
                    <div class="manager-header font600" style="height: 45px;font-family: Inter;">Tìm kiếm hồ sơ</div>
                    <div class="content-sidebar ex-sidebar-show">
                        <input type="text" class="form-control " placeholder="Nhập từ khoá"
                            style="width:248px;margin-left: 10px;margin-top: 15px;" />
                        <div class="select-job-items1" style="margin-top:15px;">
                            <select name="select">
                                <option value="">Tất cả ngành nghề</option>
                                <option value="">Category 1</option>
                                <option value="">Category 2</option>
                                <option value="">Category 3</option>
                                <option value="">Category 4</option>
                            </select>
                        </div>
                        <div class="select-job-items1">
                            <select name="select">
                                <option value="">Địa điểm</option>
                                <option value="">Category 1</option>
                                <option value="">Category 2</option>
                                <option value="">Category 3</option>
                                <option value="">Category 4</option>
                            </select>
                        </div>
                        <div class="select-job-items1">
                            <select name="select">
                                <option value="">Trình độ học vấn</option>
                                <option value="">Category 1</option>
                                <option value="">Category 2</option>
                                <option value="">Category 3</option>
                                <option value="">Category 4</option>
                            </select>
                        </div>
                        <div class="text-center " style="margin-bottom:15px">
                            <button class="btn btn-primary">
                                <span style="font-family: Tahoma;font-weight: normal;">Tìm kiếm </span>
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-9 wow fadeIn" data-wow-delay="0.5s">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/img/slide3.jpg" class="d-block w-100" alt="" height="390px">
                            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                                style="background: rgba(43, 57, 64, .5);">
                                <div class="container">
                                    <div class="row justify-content-start">
                                        <div class="col-10 ">
                                            <h1 style="font-size: 45px;"
                                                class="display-3 text-white animated slideInDown mb-4">Kết nối Ứng viên
                                                - Nhà tuyển dụng </h1>
                                            <a href=""
                                                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Bắt
                                                đầu tìm ngay!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/slide4.jpg" class="d-block w-100" alt="..." height="390px">
                            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                                style="background: rgba(43, 57, 64, .5);">
                                <div class="container">
                                    <div class="row justify-content-start">
                                        <div class="col-10 col-lg-8">
                                            <h1 class="display-3 text-white animated slideInDown mb-4"
                                                style="font-size: 45px;">Tìm kiếm hồ sơ nhanh chóng, dễ dàng
                                            </h1>

                                            <a href=""
                                                class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Tìm
                                                kiếm
                                                nhanh</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" style="margin-left: -55px;"></span>
                        <span class="visually-hidden" style="margin-right: 5px;">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-xxl py-5">
    <div class="container">
        <h3 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">BÍ QUYẾT TUYỂN DỤNG</h3>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
            <ul class="nav nav-tabs row cursor-pointer">
                <li class="nav-item col-12 col-md-2"></li>
                <li class="nav-item col-12 col-md-4">
                    <a class="nav-link active" data-toggle="tab" data-bs-toggle="pill" href="#tab-1"><i
                            class="icon-list fs-16"></i>ĐĂNG TIN</a>
                </li>
                <li class="nav-item col-12 col-md-4">
                    <a class="nav-link " data-bs-toggle="pill" href="#tab-2"><i class="icon-recruitment"></i>TÌM KIẾM
                        HỒ SƠ</a>
                </li>
                <li class="nav-item col-12 col-md-2"></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                        <div class="col-12">
                            <div class="intro-rr" style="margin-top: 20px;">Đăng tin đúng quy định của NOSA</div>
                        </div>
                        <div class="box_rr_policy">
                            <div class="box_title_content">
                                <h2 class="title_title_box">Quy định chung</h2>
                            </div>
                            <div class="list_rr_policy">
                                <ul class="row mb-0">
                                    <li class="col-4"><i class="icon-policy-ntd icon-arr-mor"></i><span>Tin đăng hiển
                                            thị tại các vị trí nổi bật trong trang ngành nghề</span></li>
                                    <li class="col-4"><i class="icon-policy-ntd icon-arr-nolang"></i><span>Trên 1 tin
                                            đăng chỉ trình bày 1 loại ngôn ngữ</span></li>
                                    <li class="col-4"><i class="icon-policy-ntd icon-arr-tal"></i><span>Tin đăng không
                                            chứa các ký tự là vô nghĩa (vd: $$$, ###, ...)</span></li>
                                    <li class="col-4"><i class="icon-policy-ntd icon-arr-bek"></i><span>Một tin tuyển
                                            dụng chỉ đăng thông tin cho một vị trí tuyển dụng</span></li>
                                    <li class="col-4"><i class="icon-policy-ntd icon-arr-lit"></i><span style="margin-left:-50px;">Không bỏ trống
                                            các mục thông tin</span></li>
                                    <li class="col-4"><i class="icon-policy-ntd icon-arr-nosou"></i><span>Tin đăng chỉ
                                            được phép chứa các thông tin tuyển dụng, không được có các thông tin quảng
                                            cáo, tuyển sinh</span></li>
                                </ul>
                            </div>
                        </div>
                </div>
                <div id="tab-2" class="tab-pane fade show p-0">
                        <div class="intro-rr" style="margin-top: 20px;">Những chú ý khi lọc hồ sơ để không bỏ sót ứng viên tiềm năng</div>
                        <div class="list_rr_search row">
                            <div class="item_rr_search col-4" >
                                <div class="pic"style="margin-left:20px"><i class="icon-search-ntd icon-arr-keyword"></i></div>
                                <div class="info" >
                                    <div class="title">Từ khoá</div>
                                    <div class="des">Hệ thống tìm kiếm bằng từ khoá của Timviecnhanh.com sẽ lấy ra các
                                        kết quả hồ sơ trên tiều đề có chưa từ khoá bạn nhập. Do đó, chỉ nên nhập các từ
                                        khóa mà chắc chắn ứng viên bạn cần tìm sẽ để từ khóa lên tiêu đề hồ sơ.</div>
                                    <div class="note">VD: Tiếng Trung, bác sĩ...</div>
                                </div>
                            </div>
                            <div class="item_rr_search col-4">
                                <div class="pic"><i class="icon-search-ntd icon-arr-job"></i></div>
                                <div class="info">
                                    <div class="title">Ngành nghề</div>
                                    <div class="des">Nên lọc hồ sơ tại tất cả các ngành nghề mà ứng viên bạn đang cần
                                        tìm có thể chọn thay vì chỉ chọn một ngành nghề duy nhất.</div>
                                    <div class="note">VD: Lọc hồ sơ nhân viên kinh doanh, ngoài ngành nghề Kinh doanh có
                                        thể tìm thêm hồ sơ tại ngành Bán hàng, Phát triển thị trường...</div>
                                </div>
                            </div>
                            <div class="item_rr_search col-4">
                                <div class="pic"><i class="icon-search-ntd icon-arr-level"></i></div>
                                <div class="info" style="margin-left: -10px;">
                                    <div class="title">Trình độ</div>
                                    <div class="des">Tương tự như mức lương, đây cũng là thông tin nhà tuyển dụng nên
                                        lọc sau khi đã xem thông tin hồ sơ ứng viên.</div>
                                    <div class="note">VD: Nhà tuyển dụng yêu cầu trình độ ứng viên là Cao đẳng nhưng nếu
                                        ứng viên trình độ Đại học đáp ứng được toàn bộ yêu cầu thì vẫn là ứng viên tiềm
                                        năng. Nếu dùng công cụ lọc tự động hệ thống chỉ cho ra kết quả hồ sơ ứng viên
                                        trình độ ca đẳng và nhà tuyển dụng sẽ bỏ lỡ các ứng viên trình độ đại học thích
                                        hợp.</div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="rơw">
        <h2 style="text-align: center;margin-bottom: 30px;">Khách hàng của chúng tôi</h2>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/th1.jpg" style="width: 130px;margin-right: 33px;" alt="...">
                    <img src="assets/img/th2.jpg" style="width: 130px;margin-right: 33px;" alt="...">
                    <img src="assets/img/th3.jpg" style="width: 130px;margin-right: 33px;" alt="...">
                    <img src="assets/img/th4.jpg" style="width: 130px;margin-right: 35px;" alt="...">
                    <img src="assets/img/th5.jpg" style="width: 130px;margin-right: 35px;" alt="...">
                    <img src="assets/img/th6.jpg" style="width: 130px;margin-right: 35px;" alt="...">
                    <img src="assets/img/th8.png" style="width: 130px;" alt="...">

                </div>
                <div class="carousel-item">
                    <img src="assets/img/th9.png" style="width: 130px;margin-right: 33px;" alt="...">
                    <img src="assets/img/th2.jpg" style="width: 130px;margin-right: 33px;" alt="...">
                    <img src="assets/img/th7.jpg" style="width: 130px;margin-right: 33px;" alt="...">
                    <img src="assets/img/th4.jpg" style="width: 130px;margin-right: 35px;" alt="...">
                    <img src="assets/img/th8.png" style="width: 130px;margin-right: 35px;" alt="...">
                    <img src="assets/img/th6.jpg" style="width: 130px;margin-right: 35px;" alt="...">
                    <img src="assets/img/th10.png" style="width: 130px;" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/th6.jpg" style="width: 130px;margin-right: 33px;" alt="...">
                    <img src="assets/img/th4.jpg" style="width: 130px;margin-right: 33px;" alt="...">
                    <img src="assets/img/th7.jpg" style="width: 130px;margin-right: 33px;" alt="...">
                    <img src="assets/img/th10.png" style="width: 130px;margin-right: 35px;" alt="...">
                    <img src="assets/img/th5.jpg" style="width: 130px;margin-right: 35px;" alt="...">
                    <img src="assets/img/th1.jpg" style="width: 130px;margin-right: 35px;" alt="...">
                    <img src="assets/img/th8.png" style="width: 130px;" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"
                    style="margin-left: -150px;color: rgb(150, 147, 144);"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true" style="margin-right: -150px;"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>